# **[D3_S1] Python Data Types**

  1. Standard Data Type
    1. Numbers
      1. Integer
      2. Float
      3. Complex
    2. Boolean
    3. String
  2. Data Structure Data Type
    1. List
    2. Tuple
    3. Set
    4. Dictionary

In [ ]:
str1 = "This is a python programming class from 'Takeo'. " + 'The topic we are discussing today is "Data Types"'
print(str1)

In [ ]:
# Integer : Any whole number (+ve or -ve) is called as integer

int1 = 1947
print(int1)
print(type(int1))

int1 = -1947
print(int1)
print(type(int1))

1947
<class 'int'>
-1947
<class 'int'>

In [ ]:
# Float : Any combination of whole number and fractional number (+ve or -ve) is called as float.

flt1 = 3.1415
print(flt1)
print(type(flt1))

flt1 = -3.1415
print(flt1)
print(type(flt1))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [ ]:
# Complex : Combination of integer or float and imagenary number (+ve or -ve) integer or float is called as compex

cmplx1 = 2 + 3j
print(cmplx1)
print(type(cmplx1))

cmplx1 = -2 - 3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>
(-2-3j)
<class 'complex'>

In [ ]:
# Boolean : True and False

bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# String
# any combination inside single quotes
# any combination inside double quotes
# any combination inside triple single quotes
# any combination inside triple doublr quotes


str1 = 'Python Programming'
print(str1)
print(type(str1))

str1 = "Python Programming"
print(str1)
print(type(str1))

str1 = '''Python Programming'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [ ]:

str1 = '!@#$%^&*()'
print(str1)
print(type(str1))

str1 = "QW#%$&*(*))_+YIINK:"
print(str1)
print(type(str1))

str1 = '''Lion Tiger'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

!@#$%^&*()
<class 'str'>
QW#%$&*(*))_+YIINK:
<class 'str'>
Lion Tiger
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str1 = """My name is "Anuurag A Edlabadkar". I live in 'Pune'."""
print(str1)
print(type(str1))

str1 = '''My name is "Anuurag A Edlabadkar". I live in 'Pune'.'''
print(str1)
print(type(str1))

My name is "Anuurag A Edlabadkar". I live in 'Pune'.
<class 'str'>
My name is "Anuurag A Edlabadkar". I live in 'Pune'.
<class 'str'>

In [ ]:
# List
#1. List is represented by square brackets []
#2. List is mutable

lst1 = [12,13,14,27,28]
print(lst1)
print(type(lst1))

In [ ]:
# Tuple
#1. Tuple is represented by circular bracket ()
#2. Tupple is immutable

tup1 = (1,2,3,4,5,6)
print(tup1)
print(type(tup1))

In [ ]:
# Set
#1. Set is combination of unique values
#2. Set is collection of unordered element
#3. Set is represented by curly brackets {}
#4. Set is mutable

set1 = {'a', 'b', 'c', 'd', 'E', 'wekal;dskj', '$%#@', 1,2,3}
print(set1)
print(type(set1))

In [ ]:
# Assignment: Print the list, tuple and set of random values and their types.

lst2 = [1,'Cat', 'Dog', 45+5j, 78, True, 0, 1]
tuple2 = (5, 'Car', 'Truck',False, 'Jeep', 75,7+4j, 'SUV')
set2 = {'Java', 'Python', 38+7j,True,57, 'C++,', 88}

print(lst2)
print(type(lst2))

print(tuple2)
print(type(tuple2))

print(set2)
print(type(set2))

[1, 'Cat', 'Dog', (45+5j), 78, True, 0, 1]
<class 'list'>
(5, 'Car', 'Truck', False, 'Jeep', 75, (7+4j), 'SUV')
<class 'tuple'>
{True, 'Python', 'C++,', 'Java', 88, 57, (38+7j)}
<class 'set'>

In [ ]:
dict1 = {'a': 'apple',
         'b': 'banana',
         'c': 'mango'}
print(dict1)
print(type(dict1))

# Assignment: Mixed dictionary types

dict2 = {'mix1' :'red, orange, black, [5,6, red]',
          'mix2' : 'Nissan, Honda, Hyundai',
          'mix3' : 'New York, Toronto, New Orleans'}

print(dict2)
print(type(dict2))
#Revision##

{'a': 'apple', 'b': 'banana', 'c': 'mango'}
<class 'dict'>
{'mix1': 'red, orange, black, [5,6, red]', 'mix2': 'Nissan, Honda, Hyundai', 'mix3': 'New York, Toronto, New Orleans'}
<class 'dict'>

In [ ]:
# Indexes
str1 = 'Vetakatarasimharajuvaripeta' # Sample string with 28 characters
print(str1)
# Print Type
print(type(str1))

# Print length
print (len(str1)) # Prints 27 because indexing starts with 0

#Print indexed value
print(str1[0])  #


#Print first five values

Vetakatarasimharajuvaripeta
<class 'str'>
27
V

In [ ]:
#*Assignment : Print Index value of String

str2 = 'The city name is Thiruvanathpuram'

print(str2)#Print String
print(len(str2)) #Print length of the string

#Print first five values
print(str2[0])
print(str2[1])
print(str2[2])
print(str2[3])
print(str2[4])
print(str2[5])

The city name is Thiruvanathpuram
33
T
h
e

c
i

In [ ]:
# Slicing
str2[0:7:1]
str2[7:18:1] # Starting at 7, ending at 18
#Slicing of existing String

#1 is the step value, moving '1' value at a time

#Example

str3 = 'New York City'
print(str3)
print(len(str3))
#Slicing String
str3[0:3:1], str3[4:8:1], str3[9:13:1]

New York City
13

('New', 'York', 'City')

In [ ]:
#Slicing Strings : More Examples
str3[::]

'New York City'

In [ ]:
str3[::]

'New York City'

In [ ]:
str3[:7:]

'New Yor'

In [ ]:
str3[18::]

''

In [ ]:
str4 = 'Python Programming Language'

print(str4[::]) #Print everything in the string

print(str4[0::])  #Print starting from index 0

print(str4[:len(str4):])  #Print the whole length

print(str4[:26:]) # Print from 0th index to 26th

print(str4[7::])  #Start printing from 7th index

print(str4[19::]) #Start printing from 19th index

print(str4[::2]) #Print 0th to last index but go to second character

Python Programming Language
Python Programming Language
Python Programming Language
Python Programming Languag
Programming Language
Language
Pto rgamn agae