**Loops & Conditionals**


*   If-Else
*   For Conditionals
*   While Loop
*   Nested Loop Statement

If Else Practice Questions:

1.   Class Assignments
2.   Take Home Assignments

In [ ]:
#IfElseCondition Practice

# Q1. check is a number is divisible by 7 or not

a = 48
if a % 7 == 0:        # Check the remainder and if it equals 0, it is divisible
  print ("The number is divisible by 7.")
else:
  print ("The number is not divisible by 7.")

The number is not divisible by 7.

In [ ]:
# Q2. Write a program to print hello if a number is multiple of five or 3 else print bye
# Modulus operator: Remainder is zero(0) if the number is divisible
# Note: Multiple vs Divisible. 10 is the multiple of 5, 10 is divisible by 5, essentially same thing.

a = 41
if (a % 5 == 0) or ( a % 3 == 0):   # Modulus operator returns the remainder
  print ("hello")
else:
  print ("bye")

In [ ]:
# Note: Indentation

x = 1
if(x == 1):
  print("hello")
  print ("world")   # This line only prints after

y = 1
if (y == 2):
  print("hello")
print ("world")     # This line prints regardless

In [ ]:
# User Input Function

input_message = input()
print(input_message)
print(type(input_message))        # Default type is string

# the type can be changed

input_message_name = input("Enter the name: ")    # By default takes in as string
input_message_int = int(input_message_name)       # Changed it into a number
input_message_float = float(input_message_name)   # Changed it into a float

In [ ]:
# Practice Question:
# Q. Write a python program that will check for the following conditions:
#    If the light is green – Car is allowed to go
#    If the light is yellow – Car has to wait
#    If the light is red – Car has to stop
#.   Other signal – unrecognized signal. Example black, blue, etc…

input_message_light = input ("Color of Light: ").lower()    # Taking User Input, lower() lowercases all characters

if(input_message_light) == "green":
  print("Car is allowed to go!")
elif(input_message_light) == "yellow":
  print("Car has to wait!")
elif(input_message_light) == "red":
  print("Car has to stop!")
else:
  print("Unrecognized Signal!")

Color of Light: Red
Car has to stop!

In [ ]:
# Practice Question
'''
Write a program to trace your subject mark. Your program should fulfill the following conditions:

If the subject mark is below 0 and above 100, print “error: mark should be between 0 and 100 only”
Students will fail in the subject if their mark is below 50.
Students will pass in the subject if they score 50 and above.
If subject mark is between 50 and 60, grade student as good.
If subject mark is between 60 and 80, grade student as very good.
If subject mark is between 80 and 100, grade student as outstanding.

Make sure to print their mark in every statement to prove that the condition is fulfilled.
Moreover, name, class, and section should be also displayed along with the marks.
'''
score_input_name  = input ("Enter the Student's name: ")
score_input_class = input ("Enter the Student's class: ")
score_input_section = input ("Enter the Student's section: ")
score_input = input("Enter the Student's score: ")
score = float(score_input)

print("Name: "+ score_input_name), print("Class: " + score_input_class), print("Section: "+score_input_section)

if(score < 0 or score > 100):
  print("Score: "+ str(score) +" Error: Mark should be between 0 and 100 only")
elif(score <= 60 and score >= 50 ):
  print("Score: "+ str(score) + " Pass! Good!")
elif(score <= 80 and score > 60):
  print ("Score: " + str(score) + " Pass! Very Good! ")
elif(score <= 100 and score > 80):
  print("Score: " + str(score) + " Pass! Outstanding!")
else:
  print("Score: "+ str(score) +" Student has failed the exam! ")

# Third condition should be nested if statement
# Note: For Concatenation, if using a ',' instead of '+', don't need to change the type

*Homework Assignment [DUE 08/14] on Python Basic Operators(If/Else)*

In [ ]:
# Q1.

empl_input_salary = float(input("Enter the salary: "))
empl_input_yos = float(input("Enter the years of service: "))

print("Years of Service:", empl_input_yos)

if(empl_input_yos > 5):
  bonus = empl_input_salary * 0.05
  print("Bonus: $", bonus)
else:
  print("No Bonus!")

Enter the salary: 20000
Enter the years of service: 3
Years of Service: 3.0
No Bonus!

In [ ]:
# Q2.

length = float(input("Enter the length: "))
breadth = float(input("Enter the breadth: "))

if(length == breadth):
  print("Its a square! ")
else:
  print("Its a rectangle! ")

In [ ]:
# Q3:

value1 = int(input("Enter the first value: "))
value2 = int(input("Enter the second value: "))

if(value1 > value2): print("The greater value is: ", value1)
elif (value2 > value1): print("The greater value is: ", value2)
else: print("Both the value are equal.")

Enter the first value: 25
Enter the second value: 26
The greater value is:  26

In [ ]:
# Q4:

discount = 10/100
unitcost = 100
quantity = int(input("Please enter the quantity: "))
cost = quantity * unitcost

print("Total Cost is: $")

if(cost > 1000):
  unitcost  = unitcost - unitcost * discount
  print(unitcost * quantity)
else:
  print(unitcost * quantity)

Please enter the quantity: 9
Total Cost is: $
900

In [ ]:
# Q5: Grading system

score = float(input("Enter the score: "))

print ("Grade: ")

if(score < 0 or score > 100):
  print("Invalid Response!")
elif (score < 25): print ("F")
elif (score < 45 and score >= 25): print("E")
elif (score < 50 and score >= 45): print("D")
elif (score < 60 and score >= 50): print("C")
elif (score < 80 and score >= 60): print("B")
else: print ("A")

Enter the score: 45
Grade:
D

In [ ]:
# Q6. Oldest and Youngest of the three given ages.

personA = int(input("Enter the first person's age: "))
personB = int(input("Enter the second person's age: "))
personC = int(input("Enter the third person's age: "))

# 3 if condition each Test one is oldest, 2 nested if in each assuming remaining are youngest

if(personA >= personB and personA >= personC):  #Test: PersonA is oldest
  if (personB > personC):                       # Test: B and C for youngest
    print("PersonC is youngest.")
  else:
    print("PersonB is youngest.")
  print("PersonA is oldest")

elif(personB >= personA and personB >= personC):  # Test: PersonB is oldest
  if (personA > personC):                         # Test: A and C for youngest
    print("PersonC is youngest.")
  else:
    print("PersonA is youngest. ")
  print("PersonB is the oldest.")

elif(personC >= personA and personC >= personB):    # Test: PersonC is oldest
  if(personA > personB):                            # Test: A and B for youngest
    print("PersonB is youngest. ")
  else:
    print("Person A is youngest. ")
  print("PersonC is the oldest.")

In [ ]:
# Q7. Absolute value of a number regular method.

user_input = int(input("Enter a number: "))

if user_input < 0:
  user_input *= -1
  print(user_input)≥
else:
  print(user_input)

Enter a number: -20
20

In [ ]:
# Q7. Absolute value of a number using abs()

user_input = int(input("Enter a number: "))
user_input = abs(user_input)      #Python built in function abs()
print("The output value is: ", (user_input))

Enter a number: -1
The output value is:  1

In [ ]:
# Q8.

class_held = int(input("Enter the number of classes held: "))
class_attend = int(input("Enter the number of classes attended: "))

per_class_attend = ((class_attend)/class_held)

print("Percentage of classes attended: ", round(per_class_attend * 100 , 2) , "%")
if (per_class_attend < 0.75) : print("You are not allowed to sit in exam! ")
else: print("You are allowed to sit in exam. ")

Enter the number of classes held: 60
Enter the number of classes attended: 40
Percentage of classes attended:  66.67 %
You are not allowed to sit in exam!

In [ ]:
# Q9.

class_held = int(input("Enter the number of classes held: "))
class_attend = int(input("Enter the number of classes attended: "))

per_class_attend = ((class_attend)/class_held)

medical_cause = "y"

print("Percentage of classes attended: ", round(per_class_attend * 100 ,2) , "%")
if (per_class_attend < 0.75):
  medical_cause = input("Do you have a medical cause(Y/N): ").lower()
  if (medical_cause == "n"):
    print("You are not allowed to sit in exam! ")
if(per_class_attend >= 0.75 or medical_cause == "y"): print("You are allowed to sit in exam. ")

Enter the number of classes held: 100
Enter the number of classes attended: 76
Percentage of classes attended:  76.0 %
You are allowed to sit in exam.

In [ ]:
#Tuesday August 15, 2023 : For Loop

In [ ]:
# For Loop in lists

lst1 = [12,23,34,56,67,89,90,21,32,43,54,65,76,87,98,99]
for i in lst1:
  print("Value of i: ", i)    #Fetches 1 value at a time

In [ ]:
# For Loop in Tuple

tup1 = ('apple' , 'banana' , 'cherries' , 'dates' , 'eggfruit' , 'fig' , 'grapes' , 'honeyfruit')

for i in tup1:
  print( "Value of i ", i)    #Fetches 1 value at a time in a tuple

In [ ]:
# For Loop in Sets

set1 = {'apple' , 'banana' , 'cherries' , 'dates' , 'eggfruit' , 'fig' , 'grapes' , 'honeyfruit', 12,23,34,56,67,89,90,21,32,43,54,65,76,87,98,99}

for i in set1:
  print( " Value of i ", i)   #Values will be displayed in unordered manner because set is collection of "unordered" element

In [ ]:
# For Loop in Strings

str1 = "Peppa prefer Python Programming"
print(len(str1))              # Since the length is 31, the above str1 has 31 elements including the spaces between

for i in str1:
  print(" Value of i " , i)   # Every single alphabet is considered to be an element, and it will run that much number of times.

In [ ]:
# For Loop in Dictionaries

dict1 = {'a' : "apple" , 'b' : "ball" , 'c' : "cat", 'd': "doll"}

for i in dict1:
  print("Value of i " , i)   # to print the keys a, b, c, d

print("\n")   # line break

for i in dict1:
  print("Value of i " , dict1[i])  # to print the values

In [ ]:
# Range Function
# range (start, stop, step)

for i in range(0,10,1):         #0, 1, 2, 3, 4, 5, 6, 7, 8, 9
  print('Value of i' , i)

Value of i 0
Value of i 1
Value of i 2
Value of i 3
Value of i 4
Value of i 5
Value of i 6
Value of i 7
Value of i 8
Value of i 9

In [ ]:
# Printing Patterns using For Loops

for i in range(10):           # 0,1,2,3,4,5,6,7,8,9
  for j in range(10):         # 0,1,2,3,4,5,6,7,8,9
    print("*" , end = " ")    # The end parameter in the print function is used to add any string.
  print("\r")                 # \r changes the line

  # "\r" - carriage return : differences to \n: space difference

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
# Print Numbers using For Loops
k = 0
for i in range(10):
  for j in range(10):
    k +=1
    print(k, end = " ")

  print("\r")

In [ ]:
# Asterix Pyramid using 3 for loops

for i in range(10):
  for j in range(0, 10-i):
    print(" " , end = "")
  for k in range(0, i+1):
    print("* " , end = "")
  print("\r")

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
# Inverse Pyramid using For Loops

for i in range(10):
  for j in range(0, i+1):
    print(" " , end = "")

  for k in range(0, 10-i):
    print(" *" , end = "")

  print("\r")

  * * * * * * * * * *
   * * * * * * * * *
    * * * * * * * *
     * * * * * * *
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [ ]:
# HourGlass using For Loop

for i in range(10):
  for j in range(0, i+1):
    print(" " , end = "")
  for k in range(0, 10-i):
    print("* " , end = "")

  print("\r")

for i in range(1,10):
  for j in range(0, 10-i):
    print(" " , end = "")
  for k in range(0, i+1):
    print(" *" , end = "")

  print("\r")

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *

In [ ]:
# Double Pyramid

for i in range(10):
  for j in range(0, 9-i):
    print(" " , end = "")
  for k in range(0, i+1):
    print(" *" , end = "")

  print("\r")

for i in range(10):
  for j in range(0, i+1):
    print(" " , end = "")
  for k in range(0, 9-i):
    print(" *" , end = "")

  print("\r")

In [ ]:
# Hollow Triange for all:
# i. Hourglass
# ii. Double Pyramid
# iii. Square

In [ ]:
# Hollow Triangle with 10 rows

for i in range(1, 11):
  for j in range(1, 20):
    if (i == 10) or (i+j == 11) or (j-i == 9):
      print("*" , end = "")
    else:
      print(" ", end = "")
  print("\r")

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

In [ ]:
# Hollow Triangle with 10 rows

for i in range(1, 11):
  for j in range(1, 20):
    if (i == 10) or (i+j == 11) or (j-i == 9):
      print("*" , end = "")
    else:
      print(" ", end = "")
  print("\r")

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*******************

Take-Home Assignments, DUE:  [08/16: Wednesday]

In [ ]:
# Regular Pyramid Patter with Alphabets: 10 Rows : A -> J

for i in range(10):
  alpha = ord("A")

  for j in range(11-i):
    print(" ", end = "")

  for j in range(0,i+1):
    print(chr(alpha), end = " ")
    alpha += 1

  print("\r")

           A
          A B
         A B C
        A B C D
       A B C D E
      A B C D E F
     A B C D E F G
    A B C D E F G H
   A B C D E F G H I
  A B C D E F G H I J

In [ ]:
# Inverted Pyramid with Alphabet : 10 Rows A -> J

for i in range(10):
  alpha = ord("A")
  for j in range(0,i+1):
    print(" ", end = "")

  for j in range(0,10-i):
    print(chr(alpha), end = " ")
    alpha += 1
  print("\r")

 A B C D E F G H I J
  A B C D E F G H I
   A B C D E F G H
    A B C D E F G
     A B C D E F
      A B C D E
       A B C D
        A B C
         A B
          A

In [ ]:
# Inverted Pyramid with Numbers: Rows: 10 : 1 -> 10

for i in range(10):
  num = 1
  for j in range(0,i+1):
    print(" ", end = "")

  for j in range(0, 10-i):
    print(num, end = " ")
    num += 1
  print("\r")

 1 2 3 4 5 6 7 8 9 10
  1 2 3 4 5 6 7 8 9
   1 2 3 4 5 6 7 8
    1 2 3 4 5 6 7
     1 2 3 4 5 6
      1 2 3 4 5
       1 2 3 4
        1 2 3
         1 2
          1

**ForLoop Practice Questions [08/15]: Tuesday Session 2**

In [ ]:
# Q1.

a = [1,2,3,4,5,11,1,2,6,1,8]
print("Original List:   ", a)
b = []

for i in a:
  if i in b:
    print("Removed Element: ", i)
  if i not in b:
    b.append(i)

a = b
print("\nFinal List: ", a)

Original List:    [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
Removed Element:  1
Removed Element:  2
Removed Element:  1

Final List:  [1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
# Q1. [Secondary Approach]

a = [1,2,3,4,5,11,1,2,6,1,8]
print("Original List:   ", a)

print(set(a))                   # Removes repeated element and puts them in ascending order

Original List:    [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
{1, 2, 3, 4, 5, 6, 8, 11}

In [ ]:
# Q2. Print all prime numbers below 100

count = 0
for i in range(2, 100):
  for j in range(2,100):
    if(i % j == 0):
      break
  if i == j :
    count += 1
    print(i, end = " ")

print("\r")
print("Numbers of prime numbers: ",count)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
Numbers of prime numbers:  25

In [ ]:
# Q2. [Secondary Approach using list and append()]

list_of_prime_numbers = []
for k in range(2,100):
  flag = True
  for s in range (2,k):
    if k%s == 0:
      flag = False
      break
  if flag:
    list_of_prime_numbers.append(k)

print(list_of_prime_numbers)

for primes in list_of_prime_numbers:
  print(primes, "is a prime number")

In [ ]:
# Q3. Print list in reverse order using for loop

a = [1,2,3,4,5,11,1,2,6,1,8]
print("Number of items in list: ",len(a))

print("Original List:\t", a)
b = []

for value in range(len(a)):   # Iterate for amount of original list's length
  b.append(a.pop())           # Since pop() function takes out the last element

print("Reversed List:\t", b)

Number of items in list:  11
Original List:	 [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
Reversed List:	 [8, 1, 6, 2, 1, 11, 5, 4, 3, 2, 1]

In [ ]:
# Q3: Alternate Approach

a = [1,2,3,4,5,11,1,2,6,1,8]
reverse_list = []

for k in range(len(a)-1, -1, -1):     # Iterate from reverse
  reverse_list.append(a[k])
print(reverse_list)

[8, 1, 6, 2, 1, 11, 5, 4, 3, 2, 1]

In [ ]:
# Q4. Print Multiplication table of 13 using for loop

for count in range(1,11):
  print(13, 'X' , count, '', 13 * count)

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

**Practice Session [08/16]

In [ ]:
#Q1. Python Program to count the total number of digits in a number

number  = (input("Enter a number: "))
counter = 0

for i in number:
  counter += 1


print("Count: ",counter)

Enter a number: 245
Count:  3

In [ ]:
# Q2. Write a program to find greatest common divisor(GCD) or highest common factor(HCF) of given two numbers.

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number:"))

for i in range(min(num1, num2),-1,-1):
  if (num1 % i == 0 and num2 % i == 0):
    print("The HCF is: ", i)
    break

Enter the first number: 15
Enter the second number:80
The HCF is:  5

In [ ]:
#Q. Write a Program in Python to find the factorial of a given number using for loop.

#num = 7
num = int(input("Enter a number to determine its factorial: "))
factorial = 1

for i in range(1, num+1):
  factorial = factorial * i
print(factorial)

Enter a number to determine its factorial: 7
pre-value of factorial:  1
pre-value of factorial:  1
pre-value of factorial:  2
pre-value of factorial:  6
pre-value of factorial:  24
pre-value of factorial:  120
pre-value of factorial:  720
5040

In [ ]:
#Q. Write a program in python to separate positive and negative number from a list using for loop

list_num = [1,-1,3,-5,-7,-9,10,14,]

#num = int(input("Enter a number"))
positive_list = []
negative_list = []
print("Original List:", list_num, "\n")

for i in list_num:
  if  i>= 0:
    positive_list.append(i)
  elif i < 0:
    negative_list.append(i)


print("Positive Numbers : ", positive_list)
print("Negative Numbers :", negative_list)

Original List: [1, -1, 3, -5, -7, -9, 10, 14]

Positive Numbers :  [1, 3, 10, 14]
Negative Numbers : [-1, -5, -7, -9]

In [ ]:
#Q3. Display fibonacci series upto 10 terms

num1 = 0
num2 = 1
x  = int(input("Enter the number of terms to generate fibonacci number: "))
print(num1)
print(num2)

for i in range(1,x-1):
  num3 = num1 + num2
  print(num3)
  num1 = num2
  num2 = num3