# Monday 08/21/2023

In [ ]:
# Object Oriented Programming in Python
# An object is an instance of a class.

In [ ]:
class Audi999:
  pass

obj1 = Audi999()

In [ ]:
print(type(obj1))

<class '__main__.Audi999'>

In [ ]:
class university_student:
  def student_info():
    pass

In [ ]:
obj1 = university_student()

In [ ]:
obj1.student_info()

In [ ]:
# Testing
class DataScience:
  pass

obj2 = DataScience()

In [ ]:
print(type(obj2))

<class '__main__.DataScience'>

-> Cornerstone Components of Object Oriented Programming:


1.   Inheritance
2.   Polymorphism
3.   Encapsulation
4.   Abstraction

In [ ]:
#..

class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    pass

# NOTE: __init__ -> default

In [ ]:
print(type(obj1))

<class '__main__.university_student'>

In [ ]:
class university_student:

  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname = fname
    self.mname = mname
    self.lname = lname
    self.gender = gender
    self.email = email
    self.contact = contact

    print(self.fname, self.mname, self.lname, self.gender, self.email, self.contact)

In [ ]:
obj1 = university_student('Kin', 'Zen', 'Anto', 'M', 'kin.anto@firstmail.com', 9876)

Kin Zen Anto M kin.anto@firstmail.com 9876

In [ ]:
class cologne:

  def __init__(self, brand, fragrance, price, gender):
    self.brand = brand
    self.fragrance = fragrance
    self.price = price
    self.gender = gender

  # Additional function just for printing : to clarify the code.

  def cologne_details(self):
    print(self.brand, self.fragrance, self.price, self.gender)

In [ ]:
obj2 = cologne("Yves-StLaurent", "Ice", 79.99, "Male")

In [ ]:
obj2.cologne_details()

Yves-StLaurent Ice 79.99 Male

In [ ]:
# Testing Class 'countries'
class countries:

  def __init__(index, countrycode, name, flagcolor, population, literacy_rate):
    index.countrycode = countrycode
    index.name = name
    index.flagcolor = flagcolor
    index.population = population
    index.literacy_rate = literacy_rate

  def nation_details(index):
    print(index.countrycode, index.name, index.flagcolor, index.population, index.literacy_rate)

In [ ]:
nation_object = countries("977" , "Nepal" , "Red & Blue" , "30 million" , "70%")

In [ ]:
nation_object.nation_details()

977 Nepal Red & Blue 30 million 70%

In [ ]:
class car:
  def __init__(self, name, model, fuel, cc, cylinders):
    self.name = name
    self.model = model
    self.fuel = fuel
    self.cc = cc
    self.cylinders = cylinders

  def car_details(self):
    print(self.name, self.model, self.fuel, self.cc, self.cylinders)

In [ ]:
obj3 = car("Nissan" , "Altima" , "Petrol", 3500, 12 )   # passing values in car class

In [ ]:
obj3.car_details()

Nissan Altima Petrol 3500 12

**Object Oriented Programming: Inheritance**

*In-Class Assignment*

![image.png]()

In [ ]:
class Computer():   # Great Grandfather
  pass

#Grandfather : Type of Computers
class Laptop (Computer):    # Inherits values from Great GrandFather class: Computer()
  pass

class Desktop(Computer):
  pass

# Father : Brand of Laptops:

class Apple_Macbook(Laptop):    # Inherits values from Father Laptop class : Laptop()
  pass

class Dell_Inspiron(Laptop):
  pass

# Child : Processors

class i3(Apple_Macbook):    # Inherits values from the Father Brand class : Apple_Macbook()
  pass

class i5(Apple_Macbook):
  pass

class i7(Apple_Macbook):
  pass

***Practice: Practical Implementation of Inheritance***

In [ ]:
class person:         # Class Person
  def __init__(self, fname, lname): # Constructor
    self.firstname = fname
    self.lastname = lname


  def printname(self):              # Print Function
    print(self.firstname, " ", self.lastname)

In [ ]:
obj1 = person("John", "Doe")

In [ ]:
obj1.printname()

John   Doe

In [ ]:
# Creating a child class

class person:         # Class Person
  def __init__(self, fname, lname): # Constructor
    self.firstname = fname
    self.lastname = lname


  def printname(self):              # Print Function
    print(self.firstname, " ", self.lastname)

In [ ]:
class childclass(person):       # Creating childclass: this is inherited from parent class person
  pass

In [ ]:
obj2 = childclass("Anurag" , "Edlabadkar")

In [ ]:
obj2.printname()

Anurag   Edlabadkar

In [ ]:

class person:         # Class Person
  def __init__(self, fname, lname): # Constructor
    self.firstname = fname
    self.lastname = lname


  def printname(self):              # Print Function
    print(self.firstname, " ", self.lastname)

In [ ]:
class childclass(person):
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print("class childclass(person): ", self.firstname, '', self.lastname)

In [ ]:
obj1 = childclass('Sam', 'Feldt')

In [ ]:
obj1.printname()          # printed from the childclass

class childclass(person):  Sam  Feldt

In [ ]:
class person:         # Class Person
  def __init__(self, fname, lname): # Constructor
    self.firstname = fname
    self.lastname = lname


  def printname(self):              # Print Function
    print(self.firstname, " ", self.lastname)

In [ ]:
class childclass(person):
  def __init__(self, fname, mname, lname):
    self.firstname = fname
    self.middlename = mname
    self.lastname = lname

  def printname(self):
    print("class childclass(person): ", self.firstname, '', self.mname, '', self.lastname)

In [ ]:
obj1 = childclass('Chhatrapati' , 'Shivaji' , 'Maharaj')

***In-class Assignment***

In [ ]:
# Inheritance Self Practice Assignment

class flag:                             # GrandFather class (flag)
  def __init__(number, color, shape):   # Initator __init__ takes in three arguments
    number.color = color                # GrandFather class has color and shape.
    number.shape = shape

  def printflag(number):
    print("Printed from Grandfather class: ", number.color, number.shape)

In [ ]:
# Father class countriesdet()
class countriesdet(flag):
  def __init__(number, color, shape, dimension, ranking):   # Takes attribute of color and shape from father class flag()
    number.color = color
    number.shape = shape
    number.dimension = dimension        # Adds 2 new attributes: dimension and ranking
    number.ranking = ranking

  def printname(number):
    print("Printed From Father class: "," The color is ", number.color, "and the shape is ", number.shape, ". The dimension is ", number.dimension, "and the ranking is ", number.ranking)

In [ ]:
obj0 = flag('Orange and White', 'Rectangle')      #Obj0 takes in the attribute for grandfather class flag() for color and shape

In [ ]:
obj0.printflag()

Printed from Grandfather class:  Orange and White Rectangle

In [ ]:
obj1 = countriesdet('Red and Blue', '2 triangles', '600 x 600' , '1') # Obj1 takes in the 4 attributes for

In [ ]:
obj1.printname()

Printed From Father class:   The color is  Red and Blue and the shape is  2 triangles . The dimension is  600 x 600 and the ranking is  1

In [ ]:
# Child Class : clothesshop()

class clothesshop(countriesdet):

  def __init__(number, color, dimension, price):    # Takes in attribute of color and dimension from father class countriesdet() and adds another called price.
    number.color = color
    number.dimension = dimension
    number.price = price                          # Adds attribute, price

  def cutclothes(number):
    print("Printed from childclass : ", "Cut clothes of color ", number.dimension, "of shape ", number.dimension, ". The price is $", number.price)

In [ ]:
obj3 = clothesshop( "Blue and White", "900 x 600" , 10)

In [ ]:
obj3.cutclothes()

Printed from childclass :  Cut clothes of color  900 x 600 of shape  900 x 600 . The price is $ 10

In [ ]:
class Person:         # Class Person
  def __init__(self, fname, lname): # Constructor
    self.firstname = fname
    self.lastname = lname


  def printname(self):              # Print Function
    print(self.firstname, " ", self.lastname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
obj1 = Student('John' , 'Doe')

In [ ]:
class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('class car: ', self.name , self.model)

In [ ]:
class audi(car):
  def __init__(self,name,model):
    super().__init__(name, model)

In [ ]:
obj1 = audi('audi 777', 777)

In [ ]:
obj1.print_details()

class car:  audi 777 777

In [ ]:
class audi(car):
  def __init__(self,name,model,make):
    super().__init__(name, model)
    self.make = 1978

  def print_details(self):
    print(self.name,self.model, self.make)

In [ ]:
obj1 = audi('audi', 777, 1978)

In [ ]:
obj1.print_details()

audi 777 1978

In [ ]:
# Practice Session using super()

class continent:
  def __init__(self, country, countrycode, area):
    self.country = country
    self.countrycode = countrycode
    self.area = area

  def print_details(self):
    print(self.country, self.countrycode, self.area)

In [ ]:
class regional(continent):
  super().__init__(country, area)

***super() in Python Inheritance***

In [ ]:

class Person:                         # Created a Parent class
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print('Class Person: ', self.firstname, self.lastname)

In [ ]:
class Student(Person):                # Created a child class
  def __init__(self, fname, lname):
    super().__init__(fname, lname)   #super: inbuilt function,

#. Note: Previously it was printing from child class
#. After using the super() inbuilt finction, the childclass(Student(Person)) is calling the function from parent class Person.
#. Thus, the printname() function from class Person is executed.

In [ ]:
obj1 = Student("John" , "Doe")

In [ ]:
# Example using super() inbuilt function

class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

  def printcar(self):               # Print Function in main class
    print(self.name, self.model)

In [ ]:
# #Childclass Toyota()

# class Toyota(car):
#    def __init__(self,name,model):
#      super().__init__(name, model)

In [ ]:
# obj1 = Toyota('tundra', 777)

In [ ]:
# obj1.printcar()

tundra 777

In [ ]:
class Toyota(car):
  def __init__(self,name, model, make):
    super().__init__(name, model)
    self.make = 1978

  def printcar(self):
    print(self.name, self.model, self.make)

In [ ]:
obj2 = Toyota("Tucson", "DX221", 1978)

In [ ]:
obj2.printcar()

Tucson DX221 1978

In [ ]:
# Practice Example:
#. Sun and Cloud are parent classes while Land and Ocean are child classes

class Sun:
  def __init__(self, light, shadow):
    self.light = light
    self.shadow = shadow

  def print_details(self):
    print("The sun gives out ", self.light, self.shadow)

In [ ]:
class Cloud:
  def __init__(self, rain):
    self.rain = rain

  def print_details(self):
    print("The cloud gives out ", self.rain)

In [ ]:
class Land(Sun, Cloud):
  def __init__(self, light, shadow, crops, soil):
    super().__init__(light, shadow)
    self.crops = crops
    self.soil = soil

  def print_details(self):
    print("Printed from Land: ", self.light, self.shadow, self.crops, self.soil)

In [ ]:
class Ocean(Sun, Cloud):
  def __init__(self, light, rain, fish):
    super().__init__(light, rain, fish)
    self.fish = fish

  def print_details(self):
    print("Printed from Ocean: ", self.light, self.rain, self.fish)

In [ ]:
objSun = Sun("Red Light" , "Blue Shadow")

In [ ]:
objCloud = Cloud("Thunderstorm Rain")

In [ ]:
objLand = Land("Yellow Light", "Dark Shadow", "Rice Crops", "Fertile Soil")

In [ ]:
objOcean = Ocean("Orange Light", "Heavy Rain" , "Dolphin Fish")

In [ ]:
objSun.print_details()

The sun gives out  Red Light Blue Shadow

In [ ]:
objCloud.print_details()

In [ ]:
objLand.print_details()

Printed from Land:  Yellow Light Dark Shadow Rice Crops Fertile Soil

In [ ]:
objOcean.print_details()

**Practice Demonstration: Instance Variable vs Class Variable**

In [3]:
class a:
  var_a1 = "This is my first print statement inside class a "
  def __init__(self):
    self.var_a2 = "This my second print statement inside function __init__ of class a"
    self.var_a1 = "Instance variable in class a"
    self.var_tmp1 = "This is var_tmp1 inside class a"
    self.testprint = "Test Print from class a function"

class b(a):
  var_b1 = "this is my third print statement inside class b "
  def __init__(self):

    self.var_b2 = "This is my fouth print statement inside function __init__ of class b"
    self.var_a1 = "Instance variable in class b"
    self.var_tmp1 = "This is var_tmp1 inside class b"
    self.testprint = "Test Print from class b function"

    self.var_b1 = "var_b1 inside __init__ method"
    super().__init__()

In [4]:
obj_a = a()
obj_b = b()

print('1',obj_a.var_a1)

print('2',obj_a.var_tmp1)

print('test', obj_a.var_a1)

print('3',obj_b.var_a1)

print('4',obj_b.var_a2)

print('5',obj_b.var_b1)

print('6',obj_b.var_b2)

print('7',obj_b.var_tmp1)

print('8', obj_a.testprint)
print('9', obj_b.testprint)

1 Instance variable in class a
2 This is var_tmp1 inside class a
test Instance variable in class a
3 Instance variable in class a
4 This my second print statement inside function __init__ of class a
5 var_b1 inside __init__ method
6 This is my fouth print statement inside function __init__ of class b
7 This is var_tmp1 inside class a
8 Test Print from class a function
9 Test Print from class a function

In [ ]:
class lady:

  lastname = 'Modi'

  # Before Getting Married

  def __init__(self):

    self.lastname = "Gandhi"
    self.house = "Delhi"
    self.bankbalance = 10000

  # After Getting Married

class newlife(lady):

  newlife.lastname = "Basu"

  def __init__(self):

    self.lastname = "Swamy"
    self.house = "2Mumbai"
    self.bankbalance = 20000

    self.newlastname = "2Swamy"
    self.newlifehouse = "2Mumbai"
    self.newbankbalance = 20000
    #super().__init__()

In [ ]:
obj_lady = lady()
obj_newlife = newlife()

print('1', obj_lady.lastname)
print('2', obj_lady.house)
print('3', obj_lady.bankbalance)

print('4', obj_newlife.lastname)
print('5', obj_newlife.house)
print('6', obj_newlife.bankbalance)

In [5]:
class a:
  var_a1 = "This is my first print statement inside class a "
  def __init__(self):
    self.var_a2 = "This my second print statement inside function __init__ of class a"
    self.var_a1 = "Instance variable in class a"
    self.var_tmp1 = "This is var_tmp1 inside class a"
    self.testprint = "Test Print from class a function"

class b(a):
  var_b1 = "this is my third print statement inside class b "
  def __init__(self):

    self.var_b2 = "This is my fouth print statement inside function __init__ of class b"
    self.var_a1 = "Instance variable in class b"
    self.var_tmp1 = "This is var_tmp1 inside class b"
    self.testprint = "Test Print from class b function"

    self.var_b1 = "var_b1 inside __init__ method"
    super().__init__()

***Polymorphism in Object Oriented Programming***

In [ ]:
# Car, Boat and Plane have a common method name 'move' but they provide their own implementation of the method.
#. The code determines which version of the 'move' method to call based on the actual object type.
#. This feature is called Polymorphism.

# Three different classes, no connection except they have a common method, move()

class Car:                          #  class Car
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):                   # method move is overridden in its child classes
    print("Drive!")

###
class Boat:                         # class Boat
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):                   # method move on childclass, Boat() overrides Car
    print("Sail!")
####
class Plane:                        #class Plane
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):                   # method move on childclass, Plane() overrides parent class Car
    print("Fly!")

### Creating instance of different classes
car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class
####
for x in (car1, boat1, plane1):
  x.move()                        # The function

Drive!
Sail!
Fly!

***Concepts of Object Oriented Programming***

1.   Over Loading
2.   Over Ridding
3.   Operator Over Loading
4.   Polymorphism
5.   Encapsulation

In [ ]:
# Polymorphism concepts

l = 'Python Programming'
print(len(l))

l = [12,23,34,45,56,67,78,89,90]
print(len(l))

l = (12,3,4,5,66,4,3,3)
print(len(l))

# len()

18
9
8

In [ ]:
class Person:            # parent class
  def __init__(self, fname, mname, lname):
    pass
  def print_details(self):
    print(self.fname, self.mname, self.lname)

class student(Person):    # child class
  def __init__(self, fname, mname, lname):
    pass
  def print_details(self):
    print(self.fname, self.mname, self.lname)

In [6]:
# Example:

# Car, Boat and Plane have a common method name 'move' but they provide their own implementation of the method.
#. The code determines which version of the 'move' method to call based on the actual object type.
#. This feature is called Polymorphism.

# Three different classes, no connection except they have a common method, move()

class Car:                          #  class Car
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

###
class Boat:                         # class Boat
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")
####
class Plane:                        #class Plane
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

### Creating instance of different classes
car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class
####
for x in (car1, boat1, plane1):
  x.move()                        # The function calls the method move from each class

Drive!
Sail!
Fly!

In [7]:
# Example 2:

#. Inheritance & Polymorphism

# Polymorphism is implemented here on move() method of different classes.
#. move() method for all three classes have different object types. The move() method is called on each object (Car, Boat and Plane)
#. Which version of 'move' method is to be used is determined by the code because of the feature of polymorphism.

class vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('move!!')        # The instance function of parent class vehicle, move() is overridden by the instance classes of the child class - Override

class Car(vehicle):
  def move(self):         # move method in Car class
    print("Drive!")

class Boat(vehicle):
  def move(self):         # move method in Boat class
    print("Sail!")

class Plane(vehicle):
  def move(self):         # move method in Plane class
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

print(vehicle.move)

for i in (car1,boat1,plane1):
  print(i.brand)
  print(i.model)
  i.move()              # Same move() method of different object types(car, boat and plane) are called.
  print("\r")

<function vehicle.move at 0x7c671a1735b0>
Ford
Mustang
Drive!

Ibiza
Touring 20
Sail!

Boeing
747
Fly!

***In-class Assignment for demonstration of :***

      1.   Inheritance
      2.   Polymorphism
      3.   Overriding

In [8]:
#. Parent class: animal_kingdom, Child classes - mammals, birds, reptile and fish, also object types for method ability()

class animal_kingdom:                   # Parent class animal_kingdom

  def __init__(self, name, country):    #. each child class inherits the attributes of name and country from parent class.
    self.name = name
    self.country = country

  def ability(self):                    # Instance method from parent class animal_kingdom
    print("You have been created!")

class mammals(animal_kingdom):          # Child class 1, mammals() has a method ability()
  def ability(self):
    print("You can walk!")

class birds(animal_kingdom):            # Child class 2, birds() has a method ability()
  def ability(self):
    print("You can fly!")

class reptile(animal_kingdom):          # Child class 3, reptile() has a method ability()
  def ability(self):
    print("You can crawl!")

class fish(animal_kingdom):             # Child class 4, fish() has a method ability()
  def ability(self):
    print("You can swim!")

#Creating each classes

mammalsObj = mammals("Bengal Tiger" , "Nepal")
birdsObj = birds("Bald Eagle" , "USA")
reptileObj = reptile("Krait Snake", "India")
fishObj = fish("Blue Whale", "Spain")

for i in (mammalsObj, birdsObj, reptileObj, fishObj):   # Print each attributes from child classes.

  print(i.name, end = " ")
  print(i.country, end = " ")

  i.ability()               # the ability method is called on each object within the loop.
  print("\r")

Bengal Tiger Nepal You can walk!

Bald Eagle USA You can fly!

Krait Snake India You can crawl!

Blue Whale Spain You can swim!