In [ ]:
#Q1. Program to print following pattern:

'''
1 2 3 4 5 6 7 8 9 0
 2 3 4 5 6 7 8 9 0
  3 4 5 6 7 8 9 0
   4 5 6 7 8 9 0
    5 6 7 8 9 0
     6 7 8 9 0
      7 8 9 0
       8 9 0
        9 0
         0
'''

for i in range(0,10):

  for j in range(0,i):
    print(" ", end = "")
  for k in range(i+1, 11, 1):
    print(k%10,"", end = "")    # k%10 to print only the last digit of a number, thus, for 10 only 0 gets printed

  print("\r")

1 2 3 4 5 6 7 8 9 0
 2 3 4 5 6 7 8 9 0
  3 4 5 6 7 8 9 0
   4 5 6 7 8 9 0
    5 6 7 8 9 0
     6 7 8 9 0
      7 8 9 0
       8 9 0
        9 0
         0

In [ ]:
#Q2. Program to print the following pattern.
'''
0 9 8 7 6 5 4 3 2 1
 9 8 7 6 5 4 3 2 1
  8 7 6 5 4 3 2 1
   7 6 5 4 3 2 1
    6 5 4 3 2 1
     5 4 3 2 1
      4 3 2 1
       3 2 1
        2 1
         1
'''

for i in range(0,10):

  for j in range(0,i):
    print(" ", end = "")
  for k in range(10-i,0, -1):     # Such that value of (k%10) decrements by value of i until 1
    print(k%10, "" , end = "")
  print("\r")

0 9 8 7 6 5 4 3 2 1
 9 8 7 6 5 4 3 2 1
  8 7 6 5 4 3 2 1
   7 6 5 4 3 2 1
    6 5 4 3 2 1
     5 4 3 2 1
      4 3 2 1
       3 2 1
        2 1
         1

In [ ]:
#Q3. Program to print the following pattern.
'''
 0 9 8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
    7 6 5 4 3 2 1
     6 5 4 3 2 1
      5 4 3 2 1
       4 3 2 1
        3 2 1
         2 1
          1
         2 1
        3 2 1
       4 3 2 1
      5 4 3 2 1
     6 5 4 3 2 1
    7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
 0 9 8 7 6 5 4 3 2 1
'''

for i in range(0 , 10):
  for j in range(0 , i+1):
    print(" ", end = "")
  for k in range(10-i , 0, -1):   # Starts from 10 and decrements as we go below
    print(k%10, "", end = "")
  print("\r")

for i in range (0,9):             # The bottom triangle is one row less because the mid 1 is common for both

  for j in range(10, i+1 , -1):
    print(" ", end = "")
  for k in range(2+i, 0 , -1):    # Starts from 2 and increments as we go below
    print(k%10, "", end = "")
  print("\r")

 0 9 8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
    7 6 5 4 3 2 1
     6 5 4 3 2 1
      5 4 3 2 1
       4 3 2 1
        3 2 1
         2 1
          1
         2 1
        3 2 1
       4 3 2 1
      5 4 3 2 1
     6 5 4 3 2 1
    7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
 0 9 8 7 6 5 4 3 2 1

In [ ]:
#Q4. Print the following pattern.
'''
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
'''

num = 0
for i in range(1, 10):        # 9 rows to be printed
  num += 1                    # num increases by 1 in each row
  for j in range(0, i):
    print(num, "", end = "")

  print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
#Q5. Print the following pattern:
'''

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
'''

for i in range(1,9):        # For each 8 rows

  for j in range(1, i-1):   # Print 1 to the row range,
    print(j, end= " ")

  for j in range(i-1, 0 , -1): # Print row range to 1
    print(j, end = " ")

  print("\r")

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1

In [ ]:
#Q6. Print the following pattern:
'''
1 2 3 4 5 6 7 8 9 0
 2 3 4 5 6 7 8 9 0
  3 4 5 6 7 8 9 0
   4 5 6 7 8 9 0
    5 6 7 8 9 0
     6 7 8 9 0
      7 8 9 0
       8 9 0
        9 0
         0
'''

for i in range(1,10):
  num = 1

  for j in range(10,0,-1):  # for pyramid
    if j > i:               # Start with 10
      print("", end = " ")  # Print space if j is greater than row number
    else:
      print(num, end = " ") # Else number the digit
      num += 1
  print("\r")

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9

In [ ]:
#Q7. Print the following pattern:
'''
0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56 64
0 9 18 27 36 45 54 63 72 81
'''

for i in range(0, 10):        # 10 rows to be printed

  for j in range(0, i+1):

    print(i * j, "", end = "")  # Printing the multiples of row number

  print("\r")

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56 64
0 9 18 27 36 45 54 63 72 81

In [ ]:
#Q8. Print the following pattern:
'''
1 2 3 4 5 6 7 8 9
 2 3 4 5 6 7 8 9
  3 4 5 6 7 8 9
   4 5 6 7 8 9
    5 6 7 8 9
     6 7 8 9
      7 8 9
       8 9
        9
'''

for i in range(0, 10):      # Print 9 rows

  for k in range(i):
    print(" ", end="")

  for num in range(i + 1, 10):  # In each following row, the first is increased by 1
    print(num, end=" ")

  print('\r')

1 2 3 4 5 6 7 8 9
 2 3 4 5 6 7 8 9
  3 4 5 6 7 8 9
   4 5 6 7 8 9
    5 6 7 8 9
     6 7 8 9
      7 8 9
       8 9
        9

In [ ]:
#Q9. Print the following pattern.
'''
1
2
4 3
7 6 5
11 10 9 8
16 15 14 13 12
22 21 20 19 18 17
'''

beg = 1
end = 2
curr = end
for r in range(1, 8):
  for c in range(beg, end):
    curr -= 1
    print(curr, end=' ')
  print("\r")
  beg = end
  end += r
  curr = end

1
2
4 3
7 6 5
11 10 9 8
16 15 14 13 12
22 21 20 19 18 17

In [ ]:
#Q10. Print the following pattern
'''
7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7
'''

for i in range(7, 0, -1):   # To print 7 rows
  for j in range(0, i):     # For each following rows print one less 7
    print(7,"", end = "")
  print("\r")

7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7

In [ ]:
#Q11. Python program to find the square root of a program.

input_num = float(input("Enter the number to find the square root of : "))

print("The square root of ",input_num, "is", (input_num**0.5) )   #Using the operand ** to find the square root of a number

Enter the number to find the square root of : 25
The square root of  25.0 is 5.0