In [3]:
import pandas as pd
import numpy as np

In [5]:
path = '/content/Ch1_Q21_V09_Data_File.xlsx'
df_q2_raw = pd.read_excel(path)
df_q2_raw

,Observation,x1,x2,x3,x4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.198204,78.0,23,3,NaN,NaN,The accompanying data set contains three numer...,NaN,NaN,NaN,NaN
2,3,0.889328,93.0,28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.749451,69.0,3,2,NaN,NaN,a. How many observations have x4 values that a...,NaN,NaN,NaN,NaN
4,5,0.177342,89.0,30,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,0.226235,39.0,15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,115,0.233910,63.0,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,116,0.173195,33.0,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,117,0.377580,160.0,13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,118,0.121562,162.0,27,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Cleaning the data:
'Take necessary columns'
df_q2_clean = df_q2_raw.iloc[0: ,0:5]
df_q2_clean

'Check for null values'
print(df_q2_clean.isna().sum())

'Delete the rows with null values'
df_q2_final = df_q2_clean.dropna()
df_q2_final

Observation    0
x1             1
x2             1
x3             0
x4             0
dtype: int64

     Observation        x1     x2  x3  x4
1              2  0.198204   78.0  23   3
2              3  0.889328   93.0  28   1
3              4  0.749451   69.0   3   2
4              5  0.177342   89.0  30   3
5              6  0.012147   54.0  11   3
..           ...       ...    ...  ..  ..
113          114  0.226235   39.0  15   1
114          115  0.233910   63.0  11   3
115          116  0.173195   33.0   7   1
116          117  0.377580  160.0  13   1
117          118  0.121562  162.0  27   1

[117 rows x 5 columns]

In [54]:
'''
Question a.
How many observations have x4 values that are less than 3?
'''

answer = (df_q2_final['x4'] <3).sum()
print(f"{answer} observations have x4 values that are less than 3.")

84 observations have x4 values that are less than 3.

In [31]:
'''
Question b
Sort the data by x1 in ascending order.
What are the x1, x2, x3, and x4 values of the first observation after the data are sorted?
(For x1, round your answer to four decimal places.)
'''

df_ascending = df_q2_final.sort_values(['x1'], ascending = True)
df_ascending['x1'] = df_ascending['x1'].apply(lambda x:f"{x:.4f}")
df_ascending.iloc[0]

Observation         6
x1             0.0121
x2               54.0
x3                 11
x4                  3
Name: 5, dtype: object

In [32]:
'''
Question c
Sort the data by x1 in descending order.
What are the x1, x2, x3, and x4 values of the first observation after the data are sorted?
(For x1, round your answer to four decimal places.)
'''
df_descending = df_q2_final.sort_values(['x1'], ascending = False)
df_descending['x1'] = df_descending['x1'].apply(lambda x:f"{x:.4f}")
df_descending.iloc[0]

Observation        45
x1             0.9980
x2              196.0
x3                 13
x4                  3
Name: 44, dtype: object

In [37]:
'''
Question d
How many missing values are there in x1, x2, x3, and x4?
'''

print(df_q2_clean.isna().sum())

Observation    0
x1             1
x2             1
x3             0
x4             0
dtype: int64

In [51]:
'''
How many observations are there in each category in x4?
'''

df_cat_x4 = df_q2_final['x4'].value_counts().reset_index()
df_cat_x4.columns = ['x4', 'Observations']

print(df_cat_x4)

   x4  Observations
0   2            45
1   1            39
2   3            33