In [28]:
import pandas as pd
import numpy as np

In [29]:
path = '/content/Ch1_Q23_V02_Data_File.xlsx'

In [30]:
df_q4_raw = pd.read_excel(path)

In [31]:
# Cleaning the dataset
df_q4_raw.head(10)

# Taking only the necessary columns

df_q4_clean = df_q4_raw.iloc[0:,0:5]

# Check if there is any null values
df_q4_clean.isna().sum()    # There are no null values in this df

x1    0
x2    0
x3    0
x4    0
x5    0
dtype: int64

In [32]:
print(df_q4_clean.head(5))

   x1    x2   x3  x4        x5
0   1   Own  172   2  0.054587
1   0  Rent  183   3  0.009077
2   1   Own  172  60  0.938140
3   0  Rent  148   7  0.020797
4   1   Own  194   7  0.008174

In [33]:
'''
Question a:
Subset the data set to include only x2, x3, and x4.
How many missing values are there in these three variables?
'''

df_subseta = df_q4_clean.loc[:, ['x2','x3','x4']]
print(df_subseta.isna().sum(), "\n")
# No missing values

print(df_subseta)

x2    0
x3    0
x4    0
dtype: int64

      x2   x3  x4
0    Own  172   2
1   Rent  183   3
2    Own  172  60
3   Rent  148   7
4    Own  194   7
..   ...  ...  ..
95  Rent  209  16
96  Rent  204   7
97  Rent  114  52
98  Rent  128  10
99   Own  155  10

[100 rows x 3 columns]

In [34]:
'''
Question b:
Remove all observations that have “Own” as the value for x2.
Then remove all observations that have values lower than 150 for x3.
How many observations remain in the data set?
'''
#Task 1
df_q4_task1 = df_q4_clean[df_q4_clean['x2'] != "Own"]

#Task2
df_q4_task2 = df_q4_task1[df_q4_task1['x3'] > 150]
# To check how many observations are there
print("Number of Observations: ",df_q4_task2.shape[0], "\n")
print(df_q4_task2)

Number of Observations:  26

    x1    x2   x3  x4        x5
1    0  Rent  183   3  0.009077
9    0  Rent  164  15  0.004495
11   0  Rent  156  27  0.057231
13   0  Rent  219  22  0.022706
14   0  Rent  173  26  0.969233
20   0  Rent  218  59  0.021796
29   0  Rent  166   9  0.468196
32   0  Rent  162  44  0.003414
33   0  Rent  183  40  0.005908
34   0  Rent  200  19  0.005501
36   0  Rent  179   4  0.001544
37   0  Rent  187  51  0.004931
40   0  Rent  209   3  0.028299
44   0  Rent  184  54  0.019936
52   0  Rent  188  52  0.394119
59   0  Rent  166  28  0.027852
73   0  Rent  163  59  0.038614
74   0  Rent  184  35  0.680381
75   0  Rent  168  59  0.007326
77   0  Rent  161  16  0.048316
85   0  Rent  215  58  0.005424
86   0  Rent  191  27  0.000896
92   0  Rent  217  13  0.003076
94   0  Rent  200   6  0.314209
95   0  Rent  209  16  0.666483
96   0  Rent  204   7  0.000385