In [37]:
import pandas as pd
import numpy as np

In [38]:
path = '/content/Ch1_Q27_V16_Data_File.xlsx'

In [39]:
df_q5_raw = pd.read_excel(path)

In [40]:
df_q5_raw.head(7)
# Cleansing the data
# Taking only the necessary column

df_q5_raw = df_q5_raw.iloc[0:, 0:5]
df_q5_raw.head(5)

#Checking if there are any null values
df_q5_raw.isnull().sum()    # There are no null values
df_q5 = df_q5_raw
print(df_q5.head(5))

   Individual  Income  Age Sex Married
0           1      87   46   F       Y
1           2      97   52   M       Y
2           3      44   25   F       Y
3           4     115   53   F       Y
4           5      73   37   M       Y

In [41]:
df_q5.shape

(890, 5)

In [42]:
#Question a:
'Count the number of males and females in the data.'
number_of_males = (df_q5['Sex'] == 'M').sum()
number_of_females = (df_q5['Sex'] == 'F').sum()

print("The number of males: ", number_of_males)
print("The number of females: ", number_of_females)

The number of males:  507
The number of females:  383

In [43]:
#Question b:
'b. What percentage of males and females are married? (Round your answers to 2 decimal places.)'

number_of_married_males = ((df_q5['Sex'] == 'M') & (df_q5['Married'] == 'Y')).sum()
print(number_of_married_males)

number_of_married_females = ((df_q5['Sex'] == 'F') & (df_q5['Married'] == 'Y')).sum()
print(number_of_married_females)

print("Percentage of married males: {:.2f}%".format((number_of_married_males/number_of_males) * 100))
print("Percentage of married females: {:.2f}%".format((number_of_married_females/number_of_females)*100))

335
249
Percentage of married males: 66.07%
Percentage of married females: 65.01%

In [44]:
#Question c:
'c. Of the 10 individuals with the highest income, how many are married males?'

# Listing the 10 individuals with highest income

df_highestIncome10 = df_q5.sort_values(['Income'], ascending = False).head(10)

# Get the data of married males from this list
df_marriedMales = df_highestIncome10[(df_highestIncome10['Sex'] == 'M') & (df_highestIncome10['Married'] == 'Y')]
print (f"Of the 10 individuals with the highest income, {df_marriedMales.shape[0]} are married males.\n")
print(df_marriedMales)

Of the 10 individuals with the highest income, 7 are married males.

     Individual  Income  Age Sex Married
271         272     160   55   M       Y
363         364     140   52   M       Y
389         390     129   55   M       Y
625         626     128   56   M       Y
622         623     128   53   M       Y
857         858     126   52   M       Y
674         675     126   55   M       Y