Case Study: Employee Master Class

---
Employee Class:

1.   Employee Class

     *Attributes: *
  *   employeeID: unique identifier for each employee
  *   employeeName: First and Last Name the employee
  *   salary: Salary of the employee
  *   jobPosition: Job Position of the employee
  *   employeeAge: Age of the employee

2.   Employment_Management_System Class

     *Attributes: *
  *  empl_list : stores Employee Objects, represents Employee databasse.
     *Methods: *
  *  add_employee(employee): adds a new Employee
  *  delete_employee_byID(employee): deletes an employee, uses employeeID to search
  *  delete_employee_byName(employeeName): deletes an employee, uses employeeName to search, if two employees have same first and last name, prints the name and lets the user choose by ID.
  *  update_name(oldEmployee, new Employee): update the Employee name, searches by name
  *  update_name_by_id(employeeID, updated_salary) : Updates the empployee's salary, searches employee by employeeID
  *  update_jobPosition(employeeID, employeeAge): Updates the employee's Age, searches by their ID
  *  get_details_id(employeeID): Retrieves employee details, searches by employeeID
  *  get_details_by_name(employeeName): Retrieves employee details, searches by employeeName
  *  display(): Displays employee details on the console
  *  writetotxt(): Creates a text file and stores employee details
  *  readfromtxt(): Imports employee database from a csv-based txt file

-----

In [ ]:
''' Primary: Required Functions:'''
# add employeeid :
# Add employee name
# Delete Employee
# Update Name
# Update Salary
# Update Job Position
# delete by name
# get details by id
# get details by name

'''Additional:'''
#

In [9]:
# Start of Main Program
import csv

class Employee:
  update_employee_id = 1

  def __init__(self, employeeName, salary, jobPosition, employeeAge):

    self.employeeID = Employee.update_employee_id
    Employee.update_employee_id += 1

    self.employeeName = employeeName
    self.salary = salary
    self.jobPosition = jobPosition
    self.employeeAge = employeeAge

class Employement_Management_System:

  def __init__(self):
    self.empl_list = []

  def add_employee(self, employee):
    self.empl_list.append(employee)
    return f"Added {employee.employeeName}\n"

  def delete_employee_byID(self, employeeID):
    for employee in self.empl_list:
      if employee.employeeID == employeeID:   # Changed to delete employee by employeeID from employeeName
        self.empl_list.remove(employee)           # Changed to remove the whole object of specified employee
        return f"Deleted employee with ID {employeeID}"
    return "Employee Not Found!"

  def delete_employee_byName(self, employeeName):
    matching_employees = []
    for employee in self.empl_list:
        if employee.employeeName == employeeName:
            matching_employees.append(employee)

    if not matching_employees:
        return False

    print("Employees with the same name:")
    index = 0  # Initialize an index variable
    for emp in matching_employees:
        print(f"ID {emp.employeeID}: {emp.employeeName}")
        index += 1

    id_to_remove = int(input("Enter the ID of the employee you want to remove: "))
    for i in range(index):  # Use the index to iterate through matching employees
        employee = matching_employees[i]
        if employee.employeeID == id_to_remove:
            self.empl_list.remove(employee)
            return True
    return False


  def update_name(self, oldEmployeeName, newEmployeeName):
    for employee in self.empl_list:
        if employee.employeeName == oldEmployeeName:
            employee.employeeName = newEmployeeName
            return f"Name Updated for {newEmployeeName} by name.\n"
    return "Not Found! Update Name by Name not found!"

  def update_name_by_id(self, employeeID, newEmployeeName):   # This method changes the employeename by ID
    for employee in self.empl_list:
      if employee.employeeID == employeeID:
        employee.employeeName = newEmployeeName
        return f"Name Updated for {newEmployeeName} by ID.\n"
    return "Not Found! Update Name by ID Not found!"


  def update_salary(self,employeeID, updated_salary):
    for employee in self.empl_list:
      if employee.employeeID == employeeID:             # Changed to update employeeSalary from employeeID
        employee.salary = updated_salary
        return f"Updated Salary"
    return "Not Found: Update Salary Not Performed!"

  def update_jobPosition(self,employeeID, newJobPosition):
    for employee in self.empl_list:
      if employee.employeeID == employeeID:         # Changed to update Job Position by employeeID
          employee.jobPosition = newJobPosition
          return f"Updated Job Position"
    return "Not found! Update Job Position not Performed!"

  def update_employee_age(self, employeeID, employeeAge):
    for employee in self.empl_list:
      if employee.employeeID == employeeID:
        employee.employeeAge = employeeAge
        return "Updated Age!"
    return "Not Found! Update Age could not be Performed!"


  def get_details_by_id(self, employeeID):
    for employee in self.empl_list:
      if employee.employeeID == employeeID:
        return f"Employee ID: {employee.employeeID}, Name: {employee.employeeName}, Salary: {employee.salary}, Position: {employee.jobPosition}, Age: {employee.employeeAge}"

  def get_details_by_name(self, employeeName):
    for employee in self.empl_list:
      if employee.employeeName == employeeName:
        return f"Employee ID: {employee.employeeID}, Name: {employee.employeeName}, Salary: {employee.salary}, Position: {employee.jobPosition}, Age: {employee.employeeAge}"

  def display(self):
    for employee in self.empl_list:
      print(f"Employee ID: {employee.employeeID}")
      print(f"Name: {employee.employeeName}")
      print(f"Salary: {employee.salary}")
      print(f"Job Position: {employee.jobPosition}")
      print(f"Age: {employee.employeeAge}")
      print("------")

  # New Addition: Print to text(.txt) file method as comma separated values(csv)(09/10)

  def writetotxt(self):
    with open("emp_detailsin_txt.txt", "w") as ftxt:
      for employee in self.empl_list:
        ftxt.write(f"{employee.employeeID},")
        ftxt.write(f"{employee.employeeName},")
        ftxt.write(f"{employee.salary},")
        ftxt.write(f"{employee.jobPosition},")
        ftxt.write(f"{employee.employeeAge}\n")

    print("Employee details have been saved to 'empl_detailsin_txt.txt'.")

  # New Addition: Read from TXT file and load it into employee object

  def readfromtxt(self, filename):
    try:
      with open(filename, 'r') as ftxt:
        for line in ftxt:
          print('lines from file: ', line)
          employee_data = line.strip().split(',')
          print('employee data: ', employee_data)

          if len(employee_data) == 5:
            employeeID = int(employee_data[0])
            employeeName = employee_data[1]
            salary = employee_data[2]
            jobPosition = employee_data[3]
            employeeAge = employee_data[4]

            print(employeeID, employeeName, salary, jobPosition, employeeAge)

            employee = Employee(employeeName, salary, jobPosition, employeeAge)
            employee.employeeID = employeeID
            self.empl_list.append(employee)



      print("Successfully loaded from txt file!")
    except FileNotFoundError:
      print("File Not found!")


  # New Addition: CSV File Save and Load(09/11)

  def writetocsv(self):
    with open("emp_detailsin_csv.csv", "w") as fcsv:
      writer = csv.writer(fcsv)
      writer.writerow(['Employee ID', 'EmployeeName' , 'Salary', 'Job Position', 'Age'])      # Add a header row to the csv file

      for employee in self.empl_list:
        writer.writerow([employee.employeeID, employee.employeeName, employee.salary, employee.jobPosition, employee.employeeAge])

    print("Saved to emp_detailsin_csv.csv")

  def readfromcsv(self, filename):
    try:
      with open(filename,"r") as fcsv:
        reader = csv.reader(fcsv)
        next(reader)              # Skip the header row when reading the csv file

        for lines in reader:
          if len(lines) == 5:
            employeeID, employeeName, salary, jobPosition, employeeAge = lines
            employeeID = int(employeeID)      # employeeID should be int value
            employee = Employee(employeeName, salary, jobPosition, employeeAge)

            employee.employeeID = employeeID
            self.empl_list.append(employee)


      print("Successfully loaded!")
    except FileNotFoundError:
      print("File Not found!")

# End of Main Class

      
      'Presentation Testing: (Case Scenario)
      #. Anurag - 50000 - Data Scientist - 35
      #. Rohit Sharma - 45000 - Sofware Engineer - 30
      #. Nirusha Maharjan - 40000 - Learning Catalyst - 21
      #. Rohit Sharma - 42000 - Java Developer - 32
      #. Narendra Modi - 70000 - Prime Minister - 65
      #. Joe Biden - 100000 - President - 70
      #. Mark Zuckerberg - 90000 - CEO Facebook - 45

      (Test Implementations)
    
      1. Add the above employees to the database(Hard Code)
      2. Delete Mark Zuckerberg by ID(7)
      3. Delete Joe Biden by Name
      4. Update Anurag name to Anurag Arun by Search Name Method. (Menu Option: 4)
      5. Delete Rohit Sharma(Java Developer) (ID: 4 /Not ID:2) (Menu Option: 3)
      6. Update Narendra Modi Salary to 80000 (ID: 5) (Menu Option: 6)
      7. Update Anurag Arun(ID: 1) Job Position to Senior Data Scientist (Menu Option: 7)
      8. Update Nirusha Maharjan Age to 22 (ID:3)(Menu Option: 8)
      9. Display All employees (Menu Option: 11)
      10. Save the employee database to the csv file (Menu Option: 13)
      10. Exit the program(automatically save the employee database to txt file)(Menu Option: 0)
      11. Reset the main class (Run the Main Class again)
      12. Load Employee Database from Txt file (Automatic when running Menu object)
      13. Add three more employees from the menu option (Menu Option: 1)
      14. Save the file to CSV file (Menu Option:13)
      15. Exit the Program(Menu Option :0)
      16. Reset the Main Class (Run the Main Class Again)
      17. Load the Employee Database from CSV File.(Menu Option: 14)
      18. Display the employees(Menu Option: 11)
      18. Use data frame to display the user info(Manual)

In [ ]:
# Menu- Driven Presentation Interface

In [ ]:
objMain = Employement_Management_System()
objMain.readfromtxt('emp_detailsin_txt.txt')
#objMain.readfromcsv("emp_detailsin_csv.csv")
while True:
    print("Please choose an option: ")
    print("1. Add Employee")
    print("2. Delete Employee by ID")
    print("3. Delete Employee by Name")
    print("4. Update Employee Name by Name")
    print("5. Update Employee Name by ID")
    print("6. Update Employee Salary")
    print("7. Update Employee Job Position")
    print("8. Update Employee Age")
    print("9. Get Employee Details by ID")
    print("10. Get Employee Details by Name")
    print("11. Display all Employees")
    print("12. Write to a Text File")
    print("13. Write to a CSV File")
    print("14. Read from a CSV File")
    print("15. Read from a TXT File")
    print("0. Exit")

    try:
      choice = int(input("Enter your choice: "))
    except ValueError:
      print("Invalid choice. Please enter a valid option.")
      continue

    if choice == 1:
      name = input("Enter the employee's name: ")
      salary = input("Enter the salary: $")
      jobPosition = input("Enter the job Position")
      age = input("Enter the employee's age: ")

      result = objMain.add_employee(Employee(name, salary, jobPosition, age))
      print(result)

    elif choice == 2:
      uinputID = int(input("Enter the employee ID to delete: "))
      result = objMain.delete_employee_byID(uinputID)
      print(result)

    elif choice == 3:
      uinputNAME = input("Enter the employee name to delete: ")
      result = objMain.delete_employee_byName(uinputNAME)
      if result:
          print(f"{uinputNAME} deleted successfully!")
      else:
          print("Employee not found.")

    elif choice == 4:
      oldEmployeeName = input("Enter the old employee name: ")
      newEmployeeName = input("Enter the new employee name: ")
      result = objMain.update_name(oldEmployeeName, newEmployeeName)
      print(result)

    elif choice == 5:
      uinputID2 = int(input("Enter the employee ID to update name: "))
      newEmployeeName = input("Enter the new employee name: ")
      result = objMain.update_name_by_id(uinputID2, newEmployeeName)
      print(result)

    elif choice == 6:
      uinputID3 = int(input("Enter the employee ID to update salary: "))
      updated_salary = input("Enter the updated salary: $")
      result = objMain.update_salary(uinputID3, updated_salary)
      print(result)

    elif choice == 7:
      uinput4 = int(input("Enter the employee ID to update job position: "))
      uinput5 = input("Enter the new job position: ")
      result = objMain.update_jobPosition(uinput4, uinput5)
      print(result)

    elif choice == 8:
      uinput6 = int(input("Enter the employee ID to update age: "))
      uinput7 = int(input("Enter the updated age: "))
      result = objMain.update_employee_age(uinput6, uinput7)
      print(result)

    elif choice == 9:
      uinput8 = int(input("Enter the employee ID to get details: "))
      details = objMain.get_details_by_id(uinput8)
      if details:
          print(details)
      else:
          print("Employee not found.")

    elif choice == 10:
      uinput9 = input("Enter the employee name to get details: ")
      details = objMain.get_details_by_name(uinput9)
      if details:
          print(details)
      else:
          print("Employee not found.")

    elif choice == 11:
      objMain.display()

    elif choice == 12:        # New Addition: To Print to text file
      objMain.writetotxt()

    elif choice == 13:
      objMain.writetocsv()

    elif choice == 14:
      objMain.readfromcsv()

    elif choice == 15:
      objMain.readfromtxt('/content/emp_detailsin_txt.txt')

    elif choice == 0:
      objMain.writetotxt()    # Changed: Also write the data to text file when exiting
      objMain.writetocsv()

      print("Logging off!")
      break

In [5]:
'''
Test Instance 1 For Main Program : HardCoded Values for 7 primary employee information

'''

objMain = Employement_Management_System()


employeeadd = Employee("Anurag", 50000, "Data Scientist", 30)
result = objMain.add_employee(employeeadd)

employeeadd = Employee("Rohit Sharma", 45000, "Softwre Engineer", 28)
objMain.add_employee(employeeadd)

employeeadd = Employee("Nirusha Maharjan", 40000, "Learning Catalyst", 21)
objMain.add_employee(employeeadd)

employeeadd = Employee("Rohit Sharma", 42000, "Java Developer", 32)
objMain.add_employee(employeeadd)

employeeadd = Employee("Narendra Modi", 70000, "Prime Minister", 65)
objMain.add_employee(employeeadd)

employeeadd = Employee("Joe Biden", 100000, "President", 70)
objMain.add_employee(employeeadd)

employeeadd = Employee("Mark Zuckerberg", 90000, "CEO Facebook", 45)
objMain.add_employee(employeeadd)

'Added Mark Zuckerberg\n'

In [ ]:
'''
  Test Instance 2: with hard-coded values for Object 'test_ems'
  Decomment as necessary

'''

# # Create an instance of Employement_Management_System


# test_ems = Employement_Management_System()
# test_ems.readfromtxt('emp_detailsin_txt.txt')
# test_ems.display()
# # Add Employee
# employeeadd = Employee("Anurag", 50000, "Data Scientist", 30)
# result = test_ems.add_employee(employeeadd)
# print(result)
# # Add another employee
# employeeadd = Employee("Rohit Sharma", 45000, "Softwre Engineer", 28)
# result = test_ems.add_employee(employeeadd)
# print(result)

# employeeadd = Employee("Nirusha Maharjan", 40000, "Learning Catalyst", 21)
# result = test_ems.add_employee(employeeadd)
# print(result)

# employeeadd = Employee("Narendra Modi", 100000, "Prime Minister", 60)
# result = test_ems.add_employee(employeeadd)
# print(result)

# employeeadd = Employee("Joe Biden", 120000, "President", 65)
# result = test_ems.add_employee(employeeadd)
# print(result)
# # Delete Employee by ID
# result = test_ems.delete_employee_byID(5)     # Delete Joe biden
# print(result)
# # Delete Employee by Name
# result = test_ems.delete_employee_byName("Narendra Modi") # Delete Narendra Modi
# print(result)
# # Update Employee Name by Name
# result = test_ems.update_name("Anurag", "Anurag Arun")    # Rename Anurag to Anurag Arun, Search by name
# print(result)
# # Update Employee Name by ID
# result = test_ems.update_name_by_id(1, "Anurag Arun Edlabadkar")  # Rename Anurag Arun to Anurag Arun Edlabadkar, search by id (1)
# print(result)
# # Update Employee Salary
# result = test_ems.update_salary(2, 48000)   # Update Salary Rohit to 48000, Searched by ID
# print(result)
# # Update Employee Job Position
# result = test_ems.update_jobPosition(2, "Senior Engineer")    # Update Job Position of Rohit to Senior Engineer, Search by ID
# print(result)
# # Update Employee Age
# result = test_ems.update_employee_age(2, 29)    # Update Age of Rohit to 29, Search by ID
# print(result)
# # Get Employee Details by ID
# details = test_ems.get_details_by_id(2) # Get Details of specific Employee, here, id = 2
# print(details)
# # Get Employee Details by Name
# details = test_ems.get_details_by_name("Anurag Arun Edlabadkar")
# print(details)

# # Display All Employee Details

# test_ems.display()

        TXT Testing

In [ ]:
f = open("emp_detailsin_txt.txt", "r")

In [ ]:
f.read()

        CSV Testing using Pandas DataFrame

        
----

In [ ]:
test_ems.writetocsv()     # Test: Write to CSV file

In [ ]:
objMain.readfromcsv("emp_detailsin_csv.csv")

In [ ]:
# Read the csv file with dataframe
import pandas as pd

csv_file = '/content/emp_detailsin_csv.csv'
df = pd.read_csv(csv_file)

In [ ]:
df

TXT Testing with Pandas DataFrame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Read the txt file with dataframe
txt_path = '/content/emp_detailsin_txt.txt'

In [ ]:
df_employee_txt = pd.read_csv(txt_path, header=None)
# Note: Not adding 'header=None' will 'REPLACE' first row with the header

In [ ]:
# Adding headers as columns
column_names = ['Employee ID', 'Employee Name', 'Salary', 'Job Position', 'Age']
df_employee_txt.columns = column_names

In [ ]:
df_employee_txt

   Employee ID     Employee Name  Salary       Job Position  Age
0            1            Anurag   50000     Data Scientist   30
1            2      Rohit Sharma   45000   Softwre Engineer   28
2            3  Nirusha Maharjan   40000  Learning Catalyst   21
3            4      Rohit Sharma   42000     Java Developer   32
4            5     Narendra Modi   70000     Prime Minister   65
5            6         Joe Biden  100000          President   70
6            7   Mark Zuckerberg   90000       CEO Facebook   45

In [ ]:
# load ChurnModelling.csv
path = '/content/Churn_Modelling.csv'
df_ChurnModelling = pd.read_csv(path)
df_ChurnModelling

In [ ]:
# Take 30 Customer Datas
df_employees = df_ChurnModelling[['Surname','EstimatedSalary','Age']].iloc[30:61, :]
df_employees

          Surname  EstimatedSalary  Age
30        Azikiwe        140469.38   39
31  Odinakachukwu        156731.91   36
32      Sanderson         81898.81   41
33        Maggard         34410.55   42
34       Clements        142033.07   29
35       Lombardo         27822.99   45
36         Watson        114066.77   31
37        Lorenzo         98453.45   33
38      Armstrong         40812.90   36
39        Cameron        178074.04   41
40          Hsiao         70154.22   40
41         Clarke        181297.65   51
42        Osborne         94153.83   61
43         Lavine        194365.76   49
44        Bianchi        158338.39   61
45          Tyler        126517.46   32
46         Martin        119708.21   27
47        Okagbue        117622.80   39
48            Yin         90878.13   38
49         Buccho        194099.12   37
50     Chidiebele        198059.16   44
51      Trevisani         86424.57   36
52        O'Brien        116978.19   33
53       Parkhill        164040.94   41
54            Yoo         40014.76   42
55      Phillipps        113410.49   43
56           Tsao         87107.57   45
57       Endrizzi         45613.75   19
58          T'ien          1643.11   66
59      Velazquez         46775.28   51
60         Hunter         84509.57   35

In [ ]:
common_occupations = ['Farmer' ,
                      'Tailor',
                      'Data Engineer',
                      'Fashion Designer',
                      'Rocket Scientist',
                      'Civil Engineer']

In [ ]:
df_employees['Job Position'] = None
df_employees

In [ ]:
df_employees['EstimatedSalary'].dtype

dtype('float64')

In [ ]:
df_employees.loc['EstimatedSalary'>10000, 'Job Position'] = common_occupations[4]

TypeError: ignored