## Take-Home Assignments [08/18]

Question 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

Question 2. Write a Python program to count the number of even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Question 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Expected Output : 0 1 2 4 5

In [32]:
#Q1. Python program to find the numbers that are both divisible by 7 and multiples of 5 [1500,2700]
# First approach: using for loop to test if each number in the range satisfies both condition.

low_range = 1500
high_range = 2700
div7_mul5 = []       # Creating a new empty list
#print(type(div7_mul5))

count = 0

for i in range(low_range, high_range+1):
  if i % 7 == 0 and i % 5 == 0:           # Two conditions
    div7_mul5.append(i)                      # Add the numbers that satisfy both conditions into the set
    count += 1

print(count, "numbers in this range [1500,2700] are divisible by 7 and are also multiples of 5")
print(div7_mul5)           # Print the set containing the values

35 numbers in this range [1500,2700] are divisible by 7 and are also multiples of 5
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [36]:
#Q1. Python program to find the numbers that are both divisible by 7 and multiples of 5 [1500,2700]
# Second approach: Using set inbuilt function: intersection()
#                  find numbers that satisfy each condition, put them in different sets and find the intersection of the two sets using set inbuilt function

low_range = 1500
high_range = 2700

div7 = set()
mul5 = set()

for i in range(low_range, high_range+1):
  if i % 7 == 0:
    div7.add(i)
  if i % 5 ==0:
    mul5.add(i)

div7_mul5 = div7.intersection(mul5)   # Using the intersection() function of set to find the elements that are in both set.

print(div7_mul5)
print("Sorted Set:" , sorted(div7_mul5))

{1540, 1925, 2310, 2695, 1680, 2065, 2450, 1820, 2205, 2590, 1575, 1960, 2345, 1715, 2100, 2485, 1855, 2240, 2625, 1610, 1995, 2380, 1750, 2135, 2520, 1505, 1890, 2275, 2660, 1645, 2030, 2415, 1785, 2170, 2555}
Sorted Set: [1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [28]:
#Q2. Python program to count the number of even and odd numbers in a series of numbers.
# Sample numbers: numbers  = (1,2,3,4,5,6,7,8,9)

sample_list = (1,2,3,4,5,6,7,8,9)
even_count = 0        # Create two int variables as counters of each type of number
odd_count = 0

for i in sample_list:       # loop through the list
  if i % 2 == 0:            # numbers divisible by 2 are even
    even_count += 1
  else:                     # all the remaining numbers
    odd_count += 1

print("Even Numbers Count:",even_count, "\n" "Odd Numbers Count: ", odd_count)

Even Numbers Count: 4
Odd Numbers Count:  5

In [27]:
#Q3. Python program to print all numbers from 0 to 6 except 3 and 6.
# Expected Output: 0 1 2 4 5

for i in range(0, 6+1):     # Looping through the given range
  if i != 3 and i!= 6:      # Testing if the number is either 3 or 6
    print (i, end = " ")

0 1 2 4 5