----
Question 1. Swap two numbers using 3rd variable

----

In [41]:
a = 19
b = 17
temp = None     # Swapping using third variable temp

print(f"Original: a: {a} b: {b}")

temp = a
a = b
b = temp
print(f"After swap: a: {a} b: {b}")

Original: a: 19 b: 17
After swap: a: 17 b: 19

----
Question 2: Swap two numbers without using 3rd variable

----

In [42]:
# Question 2
# Without using third variable

a = 19
b = 17

print(f"Original: a: {a} b: {b}")

# Using arithmetic operation:
a = a + b
b = a - b
a = a - b

print(f"After swap: a: {a} b: {b}")

Original: a: 19 b: 17
After swap: a: 17 b: 19

----
Question 3. Remove duplicate elements from a list without converting to tuple

----

In [43]:
# Question 3. Method 1
# Typecasting Method
# Remove duplicate elements from a list without using tuple

lst1 = [12,13,15,16,17,65,67,13,15,17]
print("Original List: ", lst1)

# Type Casting Method

lst1 = list(set(lst1))
print("New List: ", lst1)

Original List:  [12, 13, 15, 16, 17, 65, 67, 13, 15, 17]
New List:  [65, 67, 12, 13, 15, 16, 17]

In [44]:
# Question 3. Method 2
# for-loop method
# Remove duplicate elements from a list without using tuple

lst1 = [12,13,15,16,17,65,67,13,15,17]
print("Original List: ", lst1)
temp_list = []

for i in lst1:
  if i not in temp_list:
    temp_list.append(i)

lst1 = temp_list

print("New List: ", lst1)

Original List:  [12, 13, 15, 16, 17, 65, 67, 13, 15, 17]
New List:  [12, 13, 15, 16, 17, 65, 67]

----
Question 4: Write a loop to print following series

10, 20, 30,...., 300


----

In [45]:
#Q4.
for i in range(10, 300+1, 10):
  print (i, end = ', ')

10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300,

----
Question 5. Write a loop to print following series

105,98,91,....,7

----

In [46]:
#Q5.
for i in range(105, 7-1, -7):
  print(i, end = ', ')

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

----
Question 6. Write a program to print number names of digits in a number like

      SAMPLE INPUT 231
      SAMPLE OUTPUT TWO THREE ONE


----

In [47]:
# Question 6
# integer to String

def intToString(value):
  str_dict = []
  conv_dict = { 0 : 'Zero',
                1 : 'One',
                2 : 'Two',
                3 : 'Three',
                4 : 'Four',
                5 : 'Five',
                6 : 'Six',
                7 : 'Seven',
                8 : 'Eight',
                9 : 'Nine',
              }

  while value > 0:
    digit = value % 10
    str_dict.append(conv_dict.get(digit).upper())
    value = value // 10

  str_dict.reverse()

  return str_dict

def main():
  user_input = int(input("Enter a number: "))
  result = intToString(user_input)

  for word in result:
    print(word, end = ' ')


main()

Enter a number: 567
FIVE SIX SEVEN

----
Question 7: Write a program to print Fibonacci series till n terms take n =50


----

In [48]:
# Question 7
# Fibonacci Series
def fibonacci_num(n):

  if n<=0:
    return []

  elif n == 1:
    return [0]

  elif n == 2:
    return [0,1]

  else:
    fib_list = fibonacci_num(n-1)
    fib_list.append(fib_list[-1] + fib_list[-2])

    return fib_list

def main():

  user_input = 50
  fib_sequence = fibonacci_num(user_input)

  print (f"The fibonacci sequence until {user_input} is {fib_sequence}")

main()

The fibonacci sequence until 50 is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

----
Question 8. Write a program to print factorial of a number

----

In [49]:
# Question 8
# Program to print the factorial of a number

def fact_calc(n):
  fact_list = []
  for i in range(1, n+1):
    if n % i == 0:
      fact_list.append(i)
  return fact_list


def main():
  num = int(input("Enter a number: "))
  factors = fact_calc(num)                # factors list
  #print(type(factors))
  print(f"Factors of {num} are {factors}")

main()

Enter a number: 78
Factors of 78 are [1, 2, 3, 6, 13, 26, 39, 78]

----
Question 9. Write a program to check if a number is Armstrong or not


----

In [50]:
# Question 9
# Program to check if a number is armstrong or not

def check_armstrong(num):

  num_list = []
  iter_num = num

  while iter_num > 1:
    digit = iter_num % 10
    num_list.append(digit)
    iter_num = iter_num // 10

  num_list.reverse()
  sum_of_num = 0
  for i in num_list:
    sum_of_num += i ** len(num_list)

  return sum_of_num

def main():
  test_input = 9474
  check_number = check_armstrong(test_input)
  print("Test: ")
  if check_number == test_input:
    print(f"{test_input} is an armstrong number.")
  else:
    print(f"{test_input} is not an armstrong number.")

  print("---")

  user_input = int(input("Enter a number to check if it is a armstrong number: "))
  check_number = check_armstrong(user_input)

  if check_number == user_input:
    print(f"{user_input} is an armstrong number.")
  else:
    print(f"{user_input} is not an armstrong number.")

main()

Test:
9474 is an armstrong number.
---
Enter a number to check if it is a armstrong number: 1234
1234 is not an armstrong number.

----
Question 10. Write a program to convert binary to decimal

----

In [51]:
# Question 10
# Convert binary to decimal
binary_number = "100101"  #Note. Error Corrected: convert int to String: int object is not subscriptable

power_value = 1
decimal_output = 0

for digit in binary_number[::-1]:
  if (digit == '1'):
    decimal_output += power_value
    power_value = power_value * 2
  elif (digit == '0'):
    power_value = power_value * 2

print(decimal_output)

37

----
Question 11. Write a program to convert decimal to binary

----

In [52]:
# Question 11

# Convert decimal to binary

decimal_number = 22
binary_output = ""

while decimal_number > 0:
  remainder = decimal_number % 2
  binary_output = str(remainder) + binary_output
  decimal_number //= 2      # Floor Division by 2

print(binary_output)

10110

----
Question 12. Write a program to check if number is palindrome on not (Without converting to string)


----

In [53]:
# Question 12 : List Append Method

def palindrome_check(num):
  original_num_list = []
  reversed_digit_list = []

  while num > 0:
    digit = num % 10
    reversed_digit_list.append(digit)
    num = num // 10

  print("Data type: ", type(reversed_digit_list[0]))

  original_num_list = reversed_digit_list
  original_num_list.reverse()

  if reversed_digit_list == original_num_list:
    return True
  else:
    return False

def main():
  user_input_num = int(input("Enter a number to check if it is palindrome or not: "))
  if palindrome_check(user_input_num):
    print(f"The number {user_input_num} is palindrome!")
  else:
    print(f"The number {user_input_num} is not palindrome!")

main()

Enter a number to check if it is palindrome or not: 12321
Data type:  <class 'int'>
The number 12321 is palindrome!

----
Question 13. Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500


----

In [54]:
# Question 13:
# Program to print all numbers which are divisible by 13, but not by 3 between 100 and 500

for i in range(100, 500+1):
  if i % 13 == 0 and i % 3 != 0:
    print(i, end = ", ")

104, 130, 143, 169, 182, 208, 221, 247, 260, 286, 299, 325, 338, 364, 377, 403, 416, 442, 455, 481, 494,

----
Question 14. Write a Python program to convert temperatures to and from Celsius and Fahrenheit.


----

In [55]:
# Question 14:
# Python program to convert temperatures to and from Celsius and Fahrenheit
# Formulas: C = (F-32)*5/9.    F = C * 9/5 + 32

def conv_to_celsius(fahrenheit_input):
  return (fahrenheit_input - 32) * 5/9

def conv_to_fahrenheit(celsius_input):
  return (celsius_input * 9/5) + 32

def main():

  user_input = float(input("Enter a number to convert: "))

  print("What conversion are you trying to perform? ")
  print("1.Celsius to Fahrenheit\n2.Fahrenheit to Celsius\n")
  choice = int(input("Enter the choice: [1,2]: "))

  if choice == 1:
    print(conv_to_fahrenheit(user_input), 'degree fahrenheit')

  elif choice == 2:
    print(conv_to_celsius(user_input),'degree celsius')

  else:
    print("Wrong Choice!")
main()

Enter a number to convert: 72
What conversion are you trying to perform?
1.Celsius to Fahrenheit
2.Fahrenheit to Celsius

Enter the choice: [1,2]: 2
22.22222222222222 degree celsius

----

Question 15. Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0


----

        # Python program that takes two digits m(row) and n(column) as input
        # Generate a two-dimensional array
        # The element value in the i-th row and j-th column should be i*j
        # else will be 0

In [56]:
# Question 15:

# Input the number of rows and columns
m = int(input("Enter the number of rows (m): "))
#m = 5 - > Test Input
n = int(input("Enter the number of columns (n): "))
# n = 5 -> Test Input

# Initialize an empty 2D and multi-dimensional array
two_dimensional_array = []
multi_dimensional_array = []

# Fill the array using nested loops
for i in range(m):
    row = []
    for j in range(n):
        row.append(i * j)
    two_dimensional_array.append(row)   # Make each 1D list

for row in two_dimensional_array:       # Combine each 1D list to make a multidimensional list
    multi_dimensional_array.append(row)

print(multi_dimensional_array)
#print(type(multi_dimensional_array))
# print(multi_dimensional_array[3][3]) -> Test Print

Enter the number of rows (m): 5
Enter the number of columns (n): 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12], [0, 4, 8, 12, 16]]

----
Question 16. Write a Python program that accepts a string and calculates the number of digits and letters.

    Sample Data: Python 3.2
    Expected Output:
    Letters 6
    Digits 2



----

In [57]:
# Question 16:

def check_digits_and_letters(user_string):
  alphabets_counter = 0
  number_counter = 0
  special_char = 0

  for element in user_string:
    if element.isalpha():
      alphabets_counter += 1
    elif element.isdigit():
      number_counter += 1
    elif not element.isalnum():
      special_char += 1

  return alphabets_counter, number_counter, special_char

def main():
  user_string_input = input("Enter a string to check the number of digits and letters in it : ")
  letters, digit, spec_char = check_digits_and_letters(user_string_input)

  print("Number of letters: ", letters )
  print("Number of digits: ", digit)
  print("Number of Special Characters: ", spec_char)

main()

Enter a string to check the number of digits and letters in it : Data Science *3.2
Number of letters:  11
Number of digits:  2
Number of Special Characters:  4

----
Question 17. Print all possible combination for a string or a word

    Sample input “ABC”
    Sample output
    BAC
    CAB
    CBA
    ACB
    BCA
----

In [58]:
# Question 17:
# Recursion method
def generate_permutations(current_permutation, remaining_characters):

  if len(remaining_characters) == 0:
    print(current_permutation)
  else:
    for i in range(len(remaining_characters)):
      new_permutation = current_permutation + remaining_characters[i]
      new_remaining = remaining_characters[:i] + remaining_characters[i + 1:]
      generate_permutations(new_permutation, new_remaining)

def main():

  user_input = input("Enter a word or string: ")
  generate_permutations("", user_input)

main()

Enter a word or string: CATS
CATS
CAST
CTAS
CTSA
CSAT
CSTA
ACTS
ACST
ATCS
ATSC
ASCT
ASTC
TCAS
TCSA
TACS
TASC
TSCA
TSAC
SCAT
SCTA
SACT
SATC
STCA
STAC

----
Question 18. Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side

    Equilateral Triangle -> all sides are equal
    Isoceles Triangle -> at least 2 sides are equal
    Scalene Triangle -> no sides are equal


----

In [59]:
# Question 18:
# Python Program to check if a triangle is equilateral, isosceles, or scalene
# Take 3 inputs for each side.

def triangle_check(side1, side2, side3):

  if side1 == side2 == side3:
    return "Equilateral Triangle"
  elif side1 == side2 or side2 == side3 or side1 == side3:
    return "Isoceles Triangle"
  else:
    return "Scalene Triangle"


def main():

  print("Triange Type Check\n")
  user_input1 = float(input("Enter the first side: "))
  user_input2 = float(input("Enter the second side: "))
  user_input3 = float(input("Enter the third side: "))

  print(triangle_check(user_input1, user_input2, user_input3))


main()

Triange Type Check

Enter the first side: 3
Enter the second side: 3
Enter the third side: 4
Isoceles Triangle

----
Question 19. Write a Python program to get the next day of a given date.

    Expected Output:
    Input a year: 2016                                                      
    Input a month [1-12]: 08                                                
    Input a day [1-31]: 23                                                  
    The next date is [yyyy-mm-dd] 2016-8-24


----

In [61]:
# Question 19
# Python program to get the next day of a given date.

def date_clicker(year, month, day):

  if day <= 31:
    day += 1
  elif day > 31:
    day = 1
    if month <= 12:
      month += 1
    elif month > 12:
      month = 1
      year += 1

  return year, month, day

def main():
  year_input = int(input("Input a year: "))
  month_input = int(input("Input a month: "))
  day_input = int(input("Enter a day: "))

  year_output, month_output, day_output = date_clicker(year_input, month_input, day_input)

  date_format = "{}-{}-{}".format(year_output, month_output, day_output)
  print(f"The next date is [{date_format}]")

main()

Input a year: 2023
Input a month: 9
Enter a day: 10
The next date is [2023-9-11]