In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/content/Ch2_Q17_V10_Data_File.xlsx'

In [3]:
df_q7_raw = pd.read_excel(path)

In [4]:
df_q7_raw.head(10)

,Purchase,Age,Brabd,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,1,A,NaN,NaN,NaN,NaN,NaN
1,2,1,C,NaN,A researcher at a marketing firm examines whet...,NaN,NaN,NaN
2,3,0,A,NaN,NaN,NaN,NaN,NaN
3,4,1,B,NaN,NaN,Purchase,Age,Brand
4,5,0,C,NaN,NaN,1,1,A
5,6,1,A,NaN,NaN,2,1,C
6,7,1,A,NaN,NaN,⋮,⋮,⋮
7,8,0,B,NaN,NaN,600,0,B
8,9,1,B,NaN,NaN,NaN,NaN,NaN
9,10,0,C,NaN,a-1. Construct a contingency table that cross-...,NaN,NaN,NaN

In [5]:
# Cleaning the data:
# Cropping unnecessary columns
df_q7_clean = df_q7_raw.iloc[0:,0:3]

In [6]:
# Rename the column
df_q7_clean.rename(columns={'Brabd': 'Brand'}, inplace = True)

df_q7_clean
# Check if there is any null values
df_q7_clean.isna().sum()    #-> There are no null values

Purchase    0
Age         0
Brand       0
dtype: int64

In [7]:
df_q7 = df_q7_clean
print(df_q7.head(10))

   Purchase  Age Brand
0         1    1     A
1         2    1     C
2         3    0     A
3         4    1     B
4         5    0     C
5         6    1     A
6         7    1     A
7         8    0     B
8         9    1     B
9        10    0     C

In [13]:
'a-1. Construct a contingency table that cross-classifies the data by Age and Brand. Provide the frequencies in the accompanying table.'

contingency_table = pd.crosstab(df_q7['Age'], df_q7['Brand'])
print(contingency_table)

Brand    A    B   C
Age
0       52   72  69
1      176  143  88

In [9]:
'a-2. How many of the purchases were for Brand A?'

purchase_brandA = (df_q7['Brand'] == 'A').sum()
print(purchase_brandA, " purchases were for Brand A")

228  purchases were for Brand A

In [18]:
'a-3. How many of the purchases were from customers under 35 years old? '

under_35 = (df_q7['Age'] == 0).sum()
print(under_35, " purchases were from customers under 35 years old.")
print(type(under_35))

193  purchases were from customers under 35 years old.
<class 'numpy.int64'>

In [27]:
'b-1. Given that the customer was younger than 35 years old, what is the likelihood that the customer purchased Brand A? (Report the proportion rounded to 2 decimal places.)'

under35_purchaseA = ((df_q7['Age'] == 0) & (df_q7['Brand'] == 'A')).sum()
#print(type(under35_purchaseA))
b1answer = "{:.2f}%".format((under35_purchaseA/under_35)*100)
print(b1answer)

26.94%

In [28]:
'b-3. Given that the customer was younger than 35 years old, what is the likelihood that the customer purchased Brand C? (Report the proportion rounded to 2 decimal places.)'

under35_purchaseC = ((df_q7['Age'] == 0) & (df_q7['Brand'] == 'C')).sum()

b3answer = "{:.2f}%".format((under35_purchaseC/under_35)*100)

print(b3answer)

35.75%